.heading {
  /* max-width: 50px;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  margin: 20px 0 0 603px; */
  width: 5%;
  height: 1px;
  margin: 10px auto 0 auto;
  background-color: #444649;
  border: 2px solid #444649;
}

.about {
  font-family: 'Raleway', serif !important;
  width: 100%;
  min-height: 85vh;
  text-align: center;
  background-color: #fff;
}

.container {
  display: inline-block;
  font-family: 'Raleway', serif;
  max-width: 1260px;
  /* margin-top: 100px; */
  padding: 100px 0 50px 0;
}

.container h1 {
  font-weight: 700;
  font-size: 25pt;
  color: #444649;
}

.skillsContainer {
  padding: 100px 40px 0 40px;
}

.skillTextContainer {
  font-size: 16pt;
  font-weight: 700;
  color: #616161;
  padding: 10px 0;
}

.descriptionContainer {
  font-size: 12pt;
}

.descriptionContainer span {
  line-height: 18pt;
  color: #616161;
}

.iconContainer {
  width: 120px;
  height: 110px;
  margin: 0 auto;
  background-color: #FF5964;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.iconify {
  height: 100%;
  font-size: 35pt;
  color: #fff;
}

.textContainer {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0 20px;
}


.flex {
  display: flex;
}

.flexSkill {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profileContainer img {
  width: 300px;
  height: 240px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.meContainer {
  margin-top: 80px;
  text-align: center;
}

.meHeader {
  font-size: 18pt;
  color: #616161;
  font-weight: 700;
  padding: 25px 0;
}

.meText span {
  align-items: left;
  color: #616161;
  line-height: 18pt;
}

.meText a {
  text-decoration: none;
  line-height: 18pt;
}

.profileContainer {
  padding: 0 102px 0;
}





.bar {
  background-color: #FFE7E9;
  width: 85%;
  height: 28px;
  margin: 0 0 15px;
  position: relative;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  background-color: #e72e41;
  /*FF5964*/
  z-index: 2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.item {
  flex-basis: 50%;
  flex-grow: 0;
  position: relative;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  font-size: 11pt;
  background-color: #FF5964;
  z-index: 2;
  color: #fff;
  font-weight: 700;
}

.ninety {
  width: 90%
}

.eighty {
  width: 80%;
}

.seventy {
  width: 70%;
}

.sixty {
  width: 60%;
}

.fifty {
  width: 50%;
}

/* .bar span {
  align-items: flex-end;
} */

.endTag {
  font-size: 11pt;
  align-items: flex-end;
  height: 100%;
  padding-right: 15px;
  line-height: 11pt;
}

/* ///////////////////////////////////////////////////////////////////////// */

/* Animations */

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

/*skills bounce and fade animations*/
.delay1 {
  animation-delay: 125ms;
}

.delay2 {
  animation-delay: 250ms;
}

.delay3 {
  animation-delay: 500ms;
}

.delay4 {
  animation-delay: 2s;
}

/* Skills fill bar animations */
.fillNinety {
  background-color: #e72e41;
  -webkit-animation: ninetyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: ninetyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes ninetyBar {
0% { width: 0; }
100% { width: 90%; }
}

@keyframes ninetyBar {
0% { width: 0; }
100% { width: 90%; }
}

.fillEighty {
  background-color: #e72e41;
  -webkit-animation: eightyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: eightyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes eightyBar {
0% { width: 0; }
100% { width: 80%; }
}

@keyframes eightyBar {
0% { width: 0; }
100% { width: 80%; }
}
.fillSeventy {
  background-color: #e72e41;
  -webkit-animation: seventyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: seventyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
  animation-delay: 100ms;
}

@-webkit-keyframes seventyBar {
0% { width: 0; }
100% { width: 70%; }
}

@keyframes seventyBar {
0% { width: 0; }
100% { width: 70%; }
}

.fillSixty {
  background-color: #e72e41;
  -webkit-animation: sixtyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: sixtyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
  animation-delay: 250ms;
}

@-webkit-keyframes sixtyBar {
0% { width: 0; }
100% { width: 60%; }
}

@keyframes sixtyBar {
0% { width: 0; }
100% { width: 60%; }
}

.fillFifty {
  background-color: #e72e41;
  -webkit-animation: fiftyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: fiftyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
  animation-delay: 500ms;
}

@-webkit-keyframes fiftyBar {
0% { width: 0; }
100% { width: 50%; }
}

@keyframes fiftyBar {
0% { width: 0; }
100% { width: 50%; }
}