.wrapper {
  background-color: #FFE7E9;
}

.contact {
  font-family: 'Raleway', serif;
  width: 100%;
  min-height: 50vh;
  text-align: center;
  background-color: #450228;
  color: #f5f5f5;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 6%);
}

.container {
  display: inline-block;
  width: 500px;
  padding: 150px 0 50px 0;
}

.form_container {
  width: 90%;
  margin: 0 auto;
}

.container h1 {
  font-size: 30pt;
  font-weight: 700;
  letter-spacing: 1px;
}

h5 {
  margin: 50px 0 25px 0;
  color: #e72e41;
}

.heading {
  width: 20%;
  height: 2px;
  margin: 0 auto 0 auto;
  background-color: #fff;
}

input, textarea, select {
  background-color: #35011f !important;
  border: none !important;
}

.form_group {
  padding: 0;
  margin: 0;
}

.input_container {
  height: 40px !important;
}

.btnSubmit {
  box-sizing: inherit;
  font-family: 'Raleway', serif;
  font-weight: 600;
  font-size: 12pt;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 15px;
  float: right;
  padding: 9px 35px;
  display: inline;
  transition: all 0.2s ease-in-out;
}


.btnSubmit:hover {
  background-color: #ea0789;
  border: 1px solid #ea0789;
}

/* Social media icons */


/* FOOTER */
.footer {
  background-color: #35011f;
  width: 100%;
  min-height: 240px;
  position: relative;
}

.icon_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon_container {
  background-color: #450228;
  border-radius: 5px;
  margin: 0 15px 0 15px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.icon {
  min-height: 100%;
  font-size: 15pt;
  color: #fff;
  transition: all 100ms ease-in-out;
}

.ghost_container {
  min-height: 80px;
  background-color: #35011f;
}

.footer a:nth-child(1) {
  position: relative;

}


.top_icon {
  background-color: #e31b6d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 30pt;
  position: absolute;
  top: -20px;
  left: 0;
}

.copyright {
  color: #8f9aa7;
  margin-top: 20px;
}

/* Animations for icons */
@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes toTopFromBottom {
  49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.icon_container:hover .icon {
  display: inline-block;
  animation-name: toTopFromBottom;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  font-size: 12pt;
}

.icon_container:hover {
  width: 50px;
  height: 50px;
}

/* @keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
} */
