.modal_container {
  position: absolute;
  max-width: 700px;
  background: #ffffff;
  left: 35%;
  top: 20%;
}

.modal {
  background-color: #00000099 !important;
  overflow: visible;
}

.modal_close {
  cursor: pointer;
}

button img {
  margin-top: 210px;
  background-color: rgba(0, 0, 0, 0.3);
}
