.divider_one {
  border: 2px solid #240115;
  margin: 0;
  padding: 0;
  background-color: #240115;
}

.card_details {
  padding: 30px 20px 0 20px;
}

.card_details div:nth-child(1) {
  font-size: 22pt;
  font-weight: 700;
  color: #444649;
}

.card_details div:nth-child(2) {
  font-size: 11pt;
  text-transform: uppercase;
  color: #c0c0c0;
  font-weight: 700;
}

.card_details div:nth-child(4) {
  margin-right: 100px;
  color: #333;
}

.divider_two {
  margin-right: 100px;
}