* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

.home {
  height: 100vh;
  background-color: #240115;
  text-align: center;
}

.flex {
  position: fixed;
  top: 40%;
  left: 37%;
}

.text {
  color: white;
  font-size: 4rem;
}

.highlight {
  font-weight: 700;
  color: #DE3C4B;
  /* font-size: 4.3rem; */
}

.btn-home {
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px;
  display: inline;
}

.nav_links {
  display: flex;
}