* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', serif;
}

hr {
  max-width: 75px;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  margin: 0 510px 0 585px;
}

/* Home page */
.home {
  height: 100vh;
  background-color: #240115;
  text-align: center;
}

.position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  font-size: 32pt;
  margin-bottom: 20px;
  line-height: 35pt;
  white-space: nowrap;
}

.highlight {
  font-weight: 700;
  color: #e72e41;
}

.btn-home {
  box-sizing: inherit;
  font-family: 'Raleway', serif;
  font-weight: 400;
  font-size: 16pt;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 11px 19px;
  display: inline;
  transition: all 0.3s ease-in-out;
}

.btn-home:hover {
  background-color: #e72e41;
  border: none;
  border: 2px solid #e72e41;
}

.btn-home:focus {
  outline: none;
}


.fa-arrow-right {
  margin-left: 16px;
  font-size: 12pt;
  transition: all 0.4s ease;
}

.btn-home:hover > i {
  margin-left: 16px;
  font-size: 15px;
  transform: rotate(90deg);
}

/* Navbar */

.nav-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.nav_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:#240115;
  padding: 15px 0;
}

.nav_links li {
  font-size: 14pt;
  color: #fff;
  cursor: pointer;
}

li {
  padding: 0 40px;
  list-style-type: none;
  transition: all 0.2s ease-in-out;
}

li:hover {
  color: #e72e41;
}

/* Tablet size */
/*//////////////////////////////////////////////////////////
/* Intro text & button */
@media screen and (max-width: 768px) {
  .text {
    font-size: 20pt;
    white-space: nowrap;
    line-height: 20pt;
  }

  .btn-home {
    font-size:7px;
    padding: 5px 10px;
  }

  .btn-home:hover > i {
    margin-left: 10px;
    font-size: 7px;
  }

  .fa-arrow-right {
    font-size: 7px;
    margin-left: 10px;
  }
}

/* Navbar Tablet size */
@media only screen and (min-width: 768px) {
  .nav_links { flex-direction: row; }
}
/*////////////////////////////////////////////////////////////////////////*/
/* About page */
.about {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container {
  display: inline-block;
  max-width: 1250px;
  margin-top: 100px;
  padding: 0 0 50px 0;
}

.skills-container {
  padding: 100px 0 0 0;
}

.skill-text-container {
  font-size: 16pt;
  color: #616161;
  font-weight: 700;
  padding: 10px 0;
}

.skill-description-container {
  font-size: 12pt;
}

.skill-description-container span {
  line-height: 18pt;
  color: #616161;
}

.icon-container {
  width: 120px;
  height: 110px;
  margin: 0 auto;
  background-color: #FF5964;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.iconify {
  height: 100%;
  font-size: 40pt;
  color: #fff;
}

.text-container {
  padding: 0 20px;
}

.container h1 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #444649;
}

.flex {
  display: flex;
}

.flexSkill {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 300px;
  height: 240px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.me-container {
  margin-top: 80px;
  text-align: center;
}

.me-header {
  font-size: 18pt;
  color: #616161;
  font-weight: 700;
  padding: 25px 0;
}

.me-text span {
  align-items: left;
  color: #616161;
  line-height: 18pt;
}

.me-text a {
  text-decoration: none;
  line-height: 18pt;
}

.profile-container {
  padding: 0 102px 0;
}

/* .badges-container {

} */

.bar {
  background-color: #FFE7E9;
  width: 85%;
  height: 28px;
  margin: 0 0 15px;
  position: relative;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 28px;
  background-color: #e72e41;
  /*FF5964*/
  z-index: 2;
}

.item {
  flex-basis: 50%;
  flex-grow: 0;
  position: relative;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  font-size: 11pt;
  background-color: #FF5964;
  z-index: 2;
  color: #fff;
  font-weight: 700;
}

/* .bar span {
  align-items: flex-end;
} */

.end-tag {
  font-size: 11pt;
  align-items: flex-end;
  height: 100%;
  padding-right: 15px;
  line-height: 11pt;
}

/* .end-tag {
  position: absolute;
  top: 0;
  left: 81.5%;
  width: 100px;
  height: 100%;
  font-size: 11pt;
  background-color: #FF5964;
  z-index: 2;
} */

/*///////////////////////////////////////////////////////////////////////*/
.portfolio {
  height: 100vh;
  background-color: teal;
}

.blog {
  height: 100vh;
  background-color: royalblue;
}

