* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', serif;
}

/* Home page */
.home {
  height: 100vh;
  background-color: #240115;
  text-align: center;
}

.flex {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  font-size: 32pt;
  margin-bottom: 20px;
  line-height: 32pt;
  white-space: nowrap;
}

.highlight {
  font-weight: 700;
  color: #DE3C4B;
}

.btn-home {
  box-sizing: inherit;
  font-family: 'Raleway', serif;
  font-weight: 400;
  font-size: 17pt;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 7px 15px;
  display: inline;
  transition: all 0.3s ease-in-out;
}

.btn-home:hover {
  background-color: #e72e41;
  border: none;
  border: 2px solid #DE3C4B;
}

.btn-home:focus {
  outline: none;
}


.fa-arrow-right {
  margin-left: 15px;
  font-size: 15px;
  transition: all 0.4s ease;
}

.btn-home:hover > i {
  margin-left: 15px;
  font-size: 15px;
  transform: rotate(90deg);
}

/* About page */

.nav-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:#240115;
  font-size: 14pt;
  padding: 15px 0;
}

.nav_links li {
  color: #fff;
  cursor: pointer;
}

li {
  padding: 0 40px;
  list-style-type: none;
}

/* Tablet size */
/*//////////////////////////////////////////////////////////
/* Intro text & button */
@media screen and (max-width: 768px) {
  .text {
    font-size: 20pt;
    white-space: nowrap;
    line-height: 20pt;
  }

  .btn-home {
    font-size:7px;
    padding: 5px 10px;
  }

  .btn-home:hover > i {
    margin-left: 10px;
    font-size: 7px;
  }

  .fa-arrow-right {
    font-size: 7px;
    margin-left: 10px;
  }
}

/* Navbar Tablet size */
@media only screen and (min-width: 768px) {
  .nav_links { flex-direction: row; }
}

.about {
  height: 100vh;
  background-color: #f8f8f8;
}

.portfolio {
  height: 100vh;
  background-color: teal;
}

.blog {
  height: 100vh;
  background-color: royalblue;
}