.modal_container {
  position: absolute;
  max-width: 700px;
  background: #ffffff;
  left: 35%;
  top: 20%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.modal_close {
  cursor: pointer;
  float: right;
  padding: 10px;
  font-size: 25pt;
}

button img {
  margin-top: 200px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
