.heading {
  width: 5%;
  height: 1px;
  margin: 10px auto 0 auto;
  background-color: #444649;
  border: 2px solid #444649;
}

.about {
  font-family: 'Raleway', serif !important;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.container {
  display: inline-block;
  font-family: 'Raleway', serif;
  max-width: 1200px;
  padding: 120px 0 50px 0;
}

.container h1 {
  font-weight: 700;
  font-size: 25pt;
  color: #444649;
}

.skillsContainer {
  padding: 100px 40px 0 40px;
}

.skillContainer {
  width: 33.333333%;
}

.skillTextContainer {
  font-size: 16pt;
  font-weight: 700;
  color: #616161;
  padding: 10px 0;
}

.descriptionContainer {
  font-size: 12pt;
}

.descriptionContainer span {
  line-height: 18pt;
  color: #616161;
}

.iconContainer {
  width: 120px;
  height: 100px;
  margin: 0 auto;
  background-color: #FF5964;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.iconify {
  height: 100%;
  font-size: 30pt;
  color: #fff;
}

.textContainer {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0 20px;
}


.flex {
  display: flex;
}

.flexSkill {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profileContainer img {
  width: 300px;
  height: 240px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.meContainer {
  margin-top: 80px;
  text-align: center;
}

.meHeader {
  font-size: 18pt;
  color: #616161;
  font-weight: 700;
  padding: 25px 0;
}

.meText {
  padding: 0 75px;
}

.meText span {
  align-items: left;
  color: #616161;
  line-height: 18pt;
}

.meText a {
  text-decoration: none;
  line-height: 18pt;
}

.profileContainer {
  padding: 0 0 0 0;
}

.bar {
  background-color: #FFE7E9;
  width: 100%;
  height: 28px;
  margin: 0 0 15px;
  position: relative;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  background-color: #e72e41;
  z-index: 2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.itemsContainer {
  flex-basis: 100%;
  flex-grow: 0;
  position: relative;
}

.itemsWrapper {
  padding-right: 50px;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  font-size: 11pt;
  background-color: #FF5964;
  z-index: 2;
  color: #fff;
  font-weight: 700;
}

.ninety {
  width: 90%
}

.eighty {
  width: 80%;
}

.seventy {
  width: 70%;
}

.sixty {
  width: 60%;
}

.fifty {
  width: 50%;
}

.endTag {
  font-size: 11pt;
  align-items: flex-end;
  padding: 8px 10px 0 0;
  line-height: 11pt;
}

/* ///////////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
  .flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skillContainer {
    width: 50%;
    margin-top: 50px;
  }

  .skillsContainer {
    padding-top: 50px;
  }

  .itemsContainer {
    min-width: 100%;
    margin: 0 auto;
  }

  .itemsWrapper {
    padding: 40px 100px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 50px;
  }

  .iconContainer {
    width: 85px;
    height: 71px;
  }

  .skillContainer {
    margin-top: 20px;
  }

  .skillTextContainer {
    padding-bottom: 0;
  }

  .iconify {
    font-size: 18pt;
  }

  .profileContainer img {
    width: 264px;
    height: 211px;
  }

  .descriptionContainer {
    font-size: 7pt;
  }

  .descriptionContainer span {
    line-height: 10pt;
  }

  .meText {
    line-height: 12pt;
  }

  .meHeader {
    font-size: 11pt;
    color: #616161;
    font-weight: 700;
    padding: 20px 0;
  }

  .meText span {
    font-size: 7pt;
    line-height: 9pt;
  }

  .itemsWrapper {
    padding: 20px 75px;
  }

  .itemsContainer {
    padding-top: 50px;
  }

  .bar {
    width: 97%;
    height: 22px;
    margin-bottom: 10px;
  }

  .tag {
    font-size: 7pt;
    width: 100px;
  }

  .endTag {
    font-size: 7pt;
    padding: 4px 6px 0 0;
  }

  .fill {
    height: 22px;
  }
}


/* ANIMATIONS */

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* HEADER ANIMATION */
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

.delay {
  animation-delay: 250ms;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

/*skills bounce and fade animations*/
.delay1 {
  animation-delay: 125ms;
}

.delay2 {
  animation-delay: 250ms;
}

.delay3 {
  animation-delay: 500ms;
}

.delay4 {
  animation-delay: 2s;
}

/* Skills fill bar animations */
.fillNinety {
  background-color: #e72e41;
  -webkit-animation: ninetyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: ninetyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes ninetyBar {
0% { width: 0; }
100% { width: 90%; }
}

@keyframes ninetyBar {
0% { width: 0; }
100% { width: 90%; }
}

.fillEighty {
  background-color: #e72e41;
  -webkit-animation: eightyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: eightyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes eightyBar {
0% { width: 0; }
100% { width: 80%; }
}

@keyframes eightyBar {
0% { width: 0; }
100% { width: 80%; }
}

.fillSeventy {
  background-color: #e72e41;
  -webkit-animation: seventyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: seventyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
  animation-delay: 100ms;
}

@-webkit-keyframes seventyBar {
0% { width: 0; }
100% { width: 70%; }
}

@keyframes seventyBar {
0% { width: 0; }
100% { width: 70%; }
}

.fillSixty {
  background-color: #e72e41;
  -webkit-animation: sixtyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: sixtyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
  animation-delay: 250ms;
}

@-webkit-keyframes sixtyBar {
0% { width: 0; }
100% { width: 60%; }
}

@keyframes sixtyBar {
0% { width: 0; }
100% { width: 60%; }
}

.fillFifty {
  background-color: #e72e41;
  -webkit-animation: fiftyBar 2000ms ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: fiftyBar 2000ms ease-in-out;
  -moz-animation-fill-mode:both;
  animation-delay: 500ms;
}

@-webkit-keyframes fiftyBar {
0% { width: 0; }
100% { width: 50%; }
}

@keyframes fiftyBar {
0% { width: 0; }
100% { width: 50%; }
}