.navWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.navLinks {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color:#240115;
  padding: 15px 0;
}

.navLinks .link {
  font-size: 14pt;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.link {
  padding: 0 40px;
  list-style-type: none;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #e72e41;
}

.activeLink {
  color: #e72e41 !important;
}


/* Navbar Tablet size */
@media screen and (max-width: 768px) {
  .link {
    padding: 0 20px;
  }

  .navLinks .link {
    font-size: 12pt;
  }
}